
<!-- FORM -->
<div class="container">
    <div class="contact-box">
        <h2>Contact Me</h2>

        <input type="text" placeholder="Your Name">
        <input type="email" placeholder="Your Email">
        <textarea placeholder="Your Message"></textarea>

        <button>Send Message</button>
    </div>
</div>
