<section class="hero" id="home">
        <div class="hero-text">
            <h1>Hi, I'm Darol</h1>
            <p>I'm a full stack Developer focused on modern, responsive, and aesthetic interfaces.</p>

            <div class="sosmed">
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
                <a href="#"><i class="bi bi-github"></i></a>
            </div>
        </div>
        <div class="hero-img"></div>
    </section>
